
@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body{
    font-family: 'Droid Arabic Kufi', serif;
}
h1{
    font-size: 3.5rem;
font-weight: bolder;
line-height: 1.2;
}
.jumbotron{
    text-align: center;
}

.form-inline select,
.form-inline button{
    height: 3.2rem;
}
.navbar-nav {
    text-align: right;
}

.btn-primary {
    color: #fff;
    background-color: #106eb5;
    border-color: #0f64a4;
  }

  .typed-cursor{
    display: none;
  }

  

.card-img-top{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
span.text-muted{
	font-size: 12px;
}
small.text-muted{
	font-size: 8px;
}
h5.mb-0{
	font-size: 1rem;
}
small.ghj{
	font-size: 9px;
}
.mid{
	background: #ECEDF1;
}
h6.ml-1{
	font-size: 13px;
}
small.key{
	text-decoration: underline;
	font-size: 9px;
	cursor: pointer;
}
.btn-danger{
	color: #FFCBD2;
}
.btn-danger:focus{
	box-shadow: none;
}
small.justify-content-center{
	font-size: 9px;
	cursor: pointer;
	text-decoration: underline;
}

@media screen and (max-width:600px){
    .col-sm-4{
        margin-bottom: 50px;
    }
    .d-flex {
        flex-direction: column;
    }
}

.card-img, .card-img-top {
    width: 100%;
    height: 9rem;
  }




  .card-product-list,
  .card-product-grid {
      margin-bottom: 0;
      text-align: right;
  }
  .card.card-product-grid {
       
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 23px;
      margin-top: 50px;
  }
  .card-product-grid:hover {
      -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
      box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
      -webkit-transition: 0.3s;
      transition: 0.3s;
  }
  .card-product-grid .img-wrap {
      border-radius: 0.2rem 0.2rem 0 0;
      height: 220px;
  }
  .card .img-wrap {
      overflow: hidden;
  }
  .card-lg .img-wrap {
      height: 280px;
  }
  .card-product-grid .img-wrap {
      border-radius: 0.2rem 0.2rem 0 0;
      height: 275px;
      padding: 16px;
  }
  [class*="card-product"] .img-wrap img {
      height: 100%;
      max-width: 100%;
      width: auto;
      display: inline-block;
      -o-object-fit: cover;
      object-fit: cover;
  }
  .img-wrap {
      text-align: center;
      display: block;
  }
  .card-product-grid .info-wrap {
      overflow: hidden;
      padding: 18px 20px;
  }
  [class*="card-product"] a.title {
      color: #212529;
      display: block;
  }
  .rating-stars {
      display: inline-block;
      vertical-align: middle;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      white-space: nowrap;
      clear: both;
  }
  .rating-stars li.stars-active {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
  }
  .rating-stars li {
      display: block;
      text-overflow: clip;
      white-space: nowrap;
      z-index: 1;
  }
  .card-product-grid .bottom-wrap {
      padding: 18px;
      border-top: 1px solid #e4e4e4;
  }
  .bottom-wrap-payment {
      padding: 0px;
      border-top: 1px solid #e4e4e4;
  }
  .rated {
      font-size: 10px;
      color: #b3b4b6;
  }
  .btn {
      display: inline-block;
      font-weight: 600;
      color: #343a40;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: 0.45rem 0.85rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.2rem;
  }
  .btn-primary {
      color: #fff;
      background-color: #106eb5;
      border-color: #0f67aa;
  }
  .btn-primary:hover {
    color: #fff;
    background-color: #0f73bf;
    border-color: #0f73bf;
  }
  .fa {
      color: #ff5722;
  }



a {
  color: white;
}
.shfooter .collapse {
  display: inherit;
}
@media (max-width: 767px) {
  .shfooter ul {
    margin-bottom: 0;
  }
 
  .shfooter .collapse {
    display: none;
  }
 
  .shfooter .collapse.show {
    display: block;
  }
 
  .shfooter .title .fa-angle-up,
  .shfooter .title[aria-expanded="true"] .fa-angle-down {
    display: none;
  }
 
  .shfooter .title[aria-expanded="true"] .fa-angle-up {
    display: block;
  }
 
  .shfooter .navbar-toggler {
    display: inline-block;
    padding: 0;
  }
}
 
.resize {
  text-align: center;
}
.resize {
  margin-top: 3rem;
  font-size: 1.25rem;
}
/*RESIZESCREEN ANIMATION*/
.fa-angle-double-right {
  animation: rightanime 1s linear infinite;
}
 
.fa-angle-double-left {
  animation: leftanime 1s linear infinite;
}
@keyframes rightanime {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}
@keyframes leftanime {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}
 

.bg-primary {
    background-color: #106eb5 !important;
  }

  .list-unstyled {
    padding-right: 0;
    list-style: none;
  }

  .page-link{
    color: #106eb5;
  }


  .category.card-body{padding: 0.5rem;}

  .slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .slide-container .card{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0E9ED8   ;
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #0E9ED8 ;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background: #265DF2;
  }
  
  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }

.swiper-slide{
  cursor: pointer;
  
}

.name,
.card-image{
  color: #034991 !important;
}

.jumbotron {
  padding: 2rem;
}


.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #bbb;
}

.overlay1 {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.overlay1:hover{}
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay1 .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay1 .closebtn:hover {
  color: #ccc;
}

.overlay1 input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: right;
  width: 80%;
  background: white;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  height: 4rem;
}

.overlay1 input[type=text]:hover {
  background: #f1f1f1;
}

.overlay1 button {
  float: right;
  width: 20%;
  padding: 15px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  height: 3.9rem;
  color: #fff;
}

.overlay1 button:hover {
  background: #bbb;
}



/* details */


.abc {
  padding-left: 40px
}

.pqr {
  padding-right: 70px;
  padding-top: 14px
}

.para {
  float: right;
  margin-right: 0;
  padding-left: 80%;
  top: 0
}

.fa-star {
  color: yellow
}

li {
  list-style: none;
  line-height: 50px;
  color: #000
}

.col-md-2 {
  padding-bottom: 20px;
  font-weight: bold
}

.col-md-2 a {
  text-decoration: none;
  color: #000
}

.col-md-2.mio {
  font-size: 12px;
  padding-top: 7px
}

.des::after {
  content: '.';
  font-size: 0;
  display: block;
  border-radius: 20px;
  height: 6px;
  width: 55%;
  background: yellow;
  margin: 14px 0
}

.r4 {
  padding-left: 25px
}

.btn-outline-warning {
  border-radius: 0;
  border: 2px solid yellow;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  width: 70%
}

@media screen and (max-width: 620px) {
  .container {
      width: 98%;
      display: flex;
      flex-flow: column;
      text-align: center
  }

  .des::after {
      content: '.';
      font-size: 0;
      display: block;
      border-radius: 20px;
      height: 6px;
      width: 35%;
      background: yellow;
      margin: 10px auto
  }

  .pqr {
      text-align: center;
      margin: 0 30px
  }

  .para {
      text-align: center;
      padding-left: 90px;
      padding-top: 10px
  }

  .klo {
      display: flex;
      text-align: center;
      margin: 0 auto;
      margin-right: 40px
  }
}
